<!DOCTYPE html>
<html lang="en">

<body>

{% include 'nav.html' %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>GameWeb</h1>      
    <p>Welcome to one of a kind Store</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center"> 
    

  <h3>The Games</h3><br>
  <div class="row">
    {% for game in games %}
    <div class="col-sm-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>{{game.name}} - {{game.price}} - {{game.genre}}</p>
    </div>
    {% empty %}
    <li>correctly under maintance</li>
{% endfor %}
</div><br>


</body>
</html>
